<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAw5rp5ZJ84IB9RUNVH9SLMEo6lbNroJ9s</string>
	<key>GCM_SENDER_ID</key>
	<string>27377273579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amin.taxiusers</string>
	<key>PROJECT_ID</key>
	<string>drive-easy-87ac7</string>
	<key>STORAGE_BUCKET</key>
	<string>drive-easy-87ac7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27377273579:ios:d600963691f79afca7ccae</string>
</dict>
</plist>